:root {
  --color-text: #14171a;
  --color-text-sub: #284664;
  --color-link-text: #024D82;
  --color-bg: #e7e7e7;
  --color-sky-blue: #91c3dc;
  --color-gray: #888888;

  --color-white: #fff;
  --color-warning: #fbed29;
}

@font-face {
  font-family: 'Misaki Gothic';
  src: url('../assets/fonts/misaki_gothic.ttf') format('truetype');
}

@font-face {
  font-family: 'Misaki Mincho';
  src: url('../assets/fonts/misaki_mincho.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: Misaki Gothic, Misaki Mincho, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: var(--color-text);
  background: var(--color-bg);
}

body.no-scroll {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--color-link-text);
}

a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

section {
  padding: 20px;
}

.nuxt-link-exact-active {
  background-color: var(--color-link-text);
  color: var(--color-bg);
}
.nuxt-link-exact-active:hover {
  text-decoration: none;
  cursor: default;
}

.Button {
  color: var(--color-text);

  /* Reset */
  background: none;
  padding: 0;
  margin: 0;
  border: none;
}

*.-textSub {
  color: var(--color-text-sub);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #fff;
    --color-text-sub: #8899a6;
    --color-link-text: #37B2FC;
    --color-bg: #14202a;
  }
}
