@charset "utf-8";

body {
    width: 100%;
    position: relative;
}

.sns {
    position: absolute;
    top: 0;
    right: 0;
}

#gallery {
    width: 90%;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#gallery .thumbnail {
    height: 200px;
}

#gallery .thumbnail .app-icon {
    width: 100px;
    margin: 15px 10px;
}

#gallery .thumbnail .description {
    margin-top: -10px;
}

