body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #555555;
    /*background-image: url("../images/home-cover.svg") !important;*/
    background-repeat: no-repeat;
}
