<!DOCTYPE html>
<html ng-app="JOJO" lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

    <script type="text/javascript" src="js/ANDSearchService.js"></script>
    <script type="text/javascript" src="js/ANDSearchFilter.js"></script>
    <script type="text/javascript" src="js/ANDSearchController.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

    <title>JOJO</title>
</head>
<body>

<div ng-controller="ANDSearchController">
    <input type="text" ng-model="keyword" placeholder="Keyword"/>

    <p>
        検索ヒット数 : <span class="searchResultCount hit">{{(users | andSearchFilter:keyword).length}}</span>
        件 / <span class="searchResultCount">{{users.length}}</span> 件中
    </p>

    <table class="data-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>氏名</th>
            <th>フリガナ</th>
            <th>備考</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users | andSearchFilter:keyword">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.kana}}</td>
            <td>{{user.note}}</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
